{% set nav_component_item_header_id = 'nav-component-item-header--' ~ component_item.id %}
{% set classes = ['component', 'navigation-component-item'] %}
<div id="{{ nav_component_item_header_id }}" {{ attributes.addClass(classes, component_item_class) }}>
  <div{{ content_attributes.addClass('component_item__content') }}>
    {% if horizontal_push_image.field_hpi_image is not empty %}
      <div class="component-one-horizontal-push__group--first">
        <div class="field field--name-field-image field--type-image">
          {{ content.field_hpi_image }}
        </div>
      </div>
    {% endif %}

    {% if horizontal_push_image.field_body is not empty or horizontal_push_image.field_link is not empty %}
      <div class="component-one-horizontal-push--second">
        {{ content.field_body }}
        {{ content.field_link }}
      </div>
    {% endif %}
  </div>
</div>


