{% set nav_component_item_header_id = 'nav-component-item-header--' ~ component_item.id %}
{% set classes = ['component', 'navigation-component-item'] %}
<div id="{{ nav_component_item_header_id }}" {{ attributes.addClass(classes, component_item_class) }}>
  <div{{ content_attributes.addClass('component_item__content') }}>
    {% if content.field_icon is not empty %}
      {{ content.field_icon }}
    {% endif %}

    {% if content.title is not empty %}
      {{ content.title }}
    {% endif %}

    {% if content.field_body is not empty %}
      {{ content.field_body }}
    {% endif %}

    {% if content.field_link is not empty %}
      {{ content.field_link }}
    {% endif %}

    {#    {% set title_content = vertical_pushes_layout.title.value %} #}
    {#    {% if vertical_pushes_layout.field_link.uri is not empty %} #}
    {#      {% set uri_content = vertical_pushes_layout.field_link.uri %} #}
    {#      <div class="field field--name-title field--type-string field--label-hidden field__item"> #}
    {#        {{ link(title_content, uri_content) }} #}
    {#      </div> #}
    {#    {% else %} #}
    {#      {{ content.title }} #}
    {#    {% endif %} #}
  </div>
</div>


