{% set nav_component_item_header_id = 'nav-component-item-header--' ~ component_item.id %}
{% set classes = ['component', 'navigation-component-item'] %}
<div id="{{ nav_component_item_header_id }}" {{ attributes.addClass(classes, component_item_class) }}>

  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('title') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  <div{{ content_attributes.addClass('component_item__content') }}>
    {{ content|without('title', 'cms_title') }}
  </div>
</div>