<article{{ attributes.addClass(component_wrapper_class) }}>

  {{ title_prefix }}
  {% if component_wrapper.display_title.value == 1 %}
    {% if label %}
      <h2{{ title_attributes.addClass('title') }}>{{ label }}</h2>
    {% endif %}
  {% endif %}
  {{ title_suffix }}

  {{ header }}
  <div{{ content_attributes.addClass('component_wrapper__content') }}>
    {{ content|without('title') }}
  </div>
  {{ footer }}
</article>
