<article{{ attributes }}>

  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('title') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {{ header }}
  <div{{ content_attributes.addClass('component_wrapper__content') }}>
    {% set nav_component_wrapper_header_id = 'nav-component-wrapper-header--' ~ component_wrapper.id %}
    {% set classes = ['component', 'navigation-component-wrapper'] %}
    <div id="{{ nav_component_wrapper_header_id }}" {{ attributes.addClass(classes, component_wrapper_class) }}>
      {% if left_column_with is not empty %}
        <aside id="field field--name-left-column"
               class="column-{{ left_column_with }}">
          {{ content.field_left_column }}
        </aside>
      {% endif %}

      {% if middle_column_with is not empty %}
        <aside id="field field--name-middle-column"
               class="column-{{ middle_column_with }}">
          {{ content.field_middle_column }}
        </aside>
      {% endif %}

      {% if right_column_with is not empty %}
        <aside id="field field--name-right-column"
               class="column-{{ right_column_with }}">
          {{ content.field_right_column }}
        </aside>
      {% endif %}
    </div>
  </div>
  {{ footer }}
</article>
