{% set nav_component_item_header_id = 'nav-component-item-header--' ~ component_item.id %}
{% set classes = ['component', 'navigation-component-item'] %}
<div id="{{ nav_component_item_header_id }}" {{ attributes.addClass(classes, component_item_class) }}>
  <div{{ content_attributes.addClass('component_item__content') }}>
    {% if table.field_display_title.value is not empty %}
      <h2>{{ table.field_display_title.value }}</h2>
    {% endif %}
    {% set cols = table.field_table_columns %}
    <div class="field-table">
      <table>
        <thead>
        <tr>
          {% for col in cols %}
            <th>{{ col.entity.title.value }}</th>
          {% endfor %}
        </tr>
        </thead>
        {% set max = 0 %}
        <tbody>
        {% for col in cols %}
          {% set cells = col.entity.field_cells %}
          {% if max < cells|length %}
            {% set max = cells|length - 1 %}
          {% endif %}
        {% endfor %}
        {% for i in 0..max %}
          <tr>
            {% for col in cols %}
              {% set cells = col.entity.field_cells %}
              <td>{{ cells[i].value|raw }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


